.main-wrapper {
  background-color: #427e72;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: -1px 2px 0px 5px #827b82;
  border: 3px solid #4e2b2b;
  border-width: thick;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  background-color: #cfbccf;
  padding: 1.25rem;
  border: 3px solid #4e2b2b;
  font-size: 1.55rem;
  overflow: hidden;
  flex-direction: column;
}

.screen .sumary {
  font-size: 1rem;
}

.btns-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

button {
  height: 3.5rem;
  padding: 0.7rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  box-shadow: 1px -1px 0px 1px #3a2a2a;
}

button:hover {
  border: 2px dotted #4e2b2b;
  background-color: #3d4a09;
}

button:active {
  box-shadow: 1px -1px 3px 3px #9fc116;
}

.equals-btn {
  background-color: aqua;
  grid-column: 3/5;
}

.operations-btn {
  background-color: orange;
}
